name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    environment: npm-registry
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: lts/*
          package-manager-cache: false

      - name: update npm (oidc)
        run: npm install -g npm@latest

      - run: pnpm dlx changelogithub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: install dependencies
        run: pnpm install

      - name: build
        run: pnpm run build

      - name: detect tag
        id: tag
        run: |
          LATEST_TAG=$(git describe --tags --abbrev=0)

          if [[ "$LATEST_TAG" == *-* ]]; then
            echo "tag=next" >> $GITHUB_OUTPUT
          else
            echo "tag=latest" >> $GITHUB_OUTPUT
          fi

      - name: publish to npm
        run: pnpm publish --tag $TAG --access public --no-git-checks
        env:
          TAG: ${{ steps.tag.outputs.tag }}
          NPM_CONFIG_PROVENANCE: true

      - name: publish to jsr
        run: npx jsr publish --allow-dirty

      - name: print dirty files
        run: git status --porcelain
